{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	{% include "snippets/styles.html" %}
</head>
<body>
	{# navbar #}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
	  <a class="navbar-brand" href="">Main Task</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="navbar-item">
	      	<a href="/tugas2" class="nav-link">Tugas 2</a>
	      </li>
	      <li class="navbar-item">
	      	<a href="/tugas3" class="nav-link">Tugas 3</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container-fluid">
		<div class="content row "> 
			{% block content %}
				
			{% endblock content %}
		</div>
	</div>
	{% include "snippets/js.html" %}
</body>
</html>